html{
  height: 100%;
}

body {
  
  background-color: #BED558;
  text-align: center;
  
}
.App{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.navbar {
  background-color: #6D545D;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}

#main-content{
  flex: 1;
}

.footer {
  background-color: #8B9556;
  color: lightgray;
  flex: 0;
}

a {
  color: #FFF;
  text-decoration: none;
}
a:hover {
   color: lightblue;
}

button {
  color: lightgrey;
  background-color: #6D545D;
  border-radius: 15px;
}


.petImg {
  width: 200px;
  height: 200px;
}

.petGallery {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}


.petContainer {
  
  background-color: #ABB557;
  padding: 10px;
  margin-bottom: 10px;
}

.petInfoSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.petInfoSection button {
  align-self: center;
  width: 100px;
}

.cartGallery {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.cartContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 60%;
  margin: 5px auto;
  max-height: 60px;
}
.cartContainer img {
  max-height: 50px;
  max-width: 50px;
  border-radius: 50px;
  
}

.cartContainer p {
  font-size: 14px;
  font-weight: 700;
  font-family: 'Libre Baskerville', serif;
}


.amount-to-pay{
  font-size: 18px;
  font-weight: 700;
  font-family: 'Libre Baskerville', serif;
}

.img {
  padding: 10px;
  color: lightgrey;
  background-color: #6D545D;
}
.info-main{
  position: relative;
  text-align: center;
}
.hidden {
  display: none;
}

.main-img{
  width: 100%;
  height: 80vh;
}
.main-img-text{
  position: absolute;
  top: 20%;
  left: 54%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  font-weight: 700;
  font-family: 'Libre Baskerville', serif;
  color: #BED558;
}
.single-pet-container{
  display: flex;
}

.pet {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: 20px auto;
  flex-wrap: wrap;
  align-items: center;
}
.single-petImg{
  max-width: 30%;
  margin: 20px;
}

.pet button {
  align-self: center;
  width: 100px;
}
