.App {
  text-align: center;
  position: relative;
  padding-bottom: 0;
}

header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.navbar {
  background-color: darkblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}
main {
  margin-bottom: 20px;
}

footer {
  background-color: lightgrey;
  color: #282c34;
  width: 100%;
  bottom: 0;
  margin-top: 60px;
  bottom: 0px;
   
}
a {
  color: #FFF;
}
a:hover {
   color: lightblue;
}


.info {
  background-color: greenyellow;
}

a {
  text-decoration: none;
}


.petImg {
  width: 200px;
  height: 200px;
}

.petGallery {
    margin-top: 20px;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 400px 400px;
    justify-content: center;
    margin-bottom:100px
}
.cartGallery {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.petContainer {
  
  background-color: sandybrown;
  padding-bottom: 10px;
}

.petInfoSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.petInfoSection button {
  color: #FFF;
  background-color: darkorange;
  align-self: center;
  width: 100px;
  margin-bottom: 5px;

}

.cartContainer {
  display: flex;
}
.petInfoSection {
  border: 2px solid black;
}

.img {
  padding: 10px;
  color: antiquewhite;
  background-color: blue;
}
.hidden {
  display: none;
}