.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.navbar {
  background-color: darkblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}

footer {
  background-color: lightgrey;
  color: #282c34;
  position: absolute;
  bottom: 0;
  width: 100%;
  
}
a {
  color: #FFF;
}
a:hover {
   color: lightblue;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.info {
  background-color: greenyellow;
}

a {
  text-decoration: none;
}
